@font-face {
  font-family: diablo_light;
  src: url(font/Diablo_Light.ttf);
}
@font-face {
  font-family: diablo_heavy;
  src: url(font/Diablo_Heavy.ttf);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(img/hell.jpg);
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #181717ad;
}
h2{
    color: #fff;
    font-family: diablo_light;
}
a{
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}
.button:hover a{
    color: rgb(154, 4, 4);
    transition: 0.3s;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.bloc_tab{
    /* background-color: #1817179c; */
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top:15vh;
}
.tableau{
    background-color: #1817179c;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}