@font-face {
  font-family: diablo_light;
  src: url(font/Diablo_Light.ttf);
}
@font-face {
  font-family: diablo_heavy;
  src: url(font/Diablo_Heavy.ttf);
}
body{
    /* background-image: url(img/diablo.jpg); */
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181717;
}
/* .container{
    overflow: hidden;
} */
div.formulaire{
    margin: 20vh;
    background-color: #1817179c;
    /* background-color: rgba(79, 29, 2, 0.579); */
    /* background-color: rgba(255,255,255,0.2); */
    padding: 15px;
    color: #ffffffb1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
    border-radius: 10px;
    /* opacity: 0.2; */
    /* font-family: diablo_light; */
}
h2{
    font-family: diablo_heavy;
    font-size: 30px;
}
.video-arriere-plan {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
/* input{
    background-color: rgb(79, 29, 2, 0.579);
} */
.formulaire{
    position: relative;
    z-index: 1;
}
.deja{
    display: flex;
    text-align: center;
    padding: 15px;
}
.deja div{
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: #ffffffb1;
    border: 0.5px solid #fff;
    padding: 5px;
    font-size: 15px;
}
.deja div:hover a{
    background-color: rgb(154, 4, 4);
    transition: 0.3s;
}
input[type=submit]{
    color: #ffffffb1;
    background-color: #1817179c;
    padding: 5px;
    width: 100%;
}
input[type=text]{
    background-color: #1817179c;
    color: #fff;
}
input[type=password]{
    background-color: #1817179c;
    color: #fff;
}
label{
    display: flex;
    text-align: right;
    border-bottom: 1px solid #ffffffb1;
}
