@font-face {
  font-family: diablo_light;
  src: url(font/Diablo_Light.ttf);
}
@font-face {
  font-family: diablo_heavy;
  src: url(font/Diablo_Heavy.ttf);
}
body{
    background-color: #181717;
    background-image: url(img/open_hellgate.jpg);
    background-size: cover;
    /* backdrop-filter: blur(8px); */
    margin: 0;
}
h2{
    color: #fff;
    font-family: diablo_light;
    padding-left: 5vw;
}
.user{
    display: flex;
    justify-content: space-between;
    background-color: #181717ad;
    align-items: center;
}
.button{
    display: flex;
}
a{
    text-decoration: none;
    color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.edit{
    border-right: 1px solid #fff;
}
.button div:hover a{
    color: rgb(154, 4, 4);
    transition: 0.3s;
}